{% extends 'menu/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="flex justify-center items-center my-10">
<div class="w-full max-w-md p-8 bg-white rounded-lg shadow-xl">
    <h1 class="mb-6 text-2xl font-semibold text-gray-800">Sign Up</h1>

    <form method="post" action="."  class="space-y-5">
        {% csrf_token %}

        <div>
            <label class="block mb-2 text-gray-700 font-medium">Username</label><br>
            {{ form.username }}
        </div>
        <div>
            <label class="block mb-2 text-gray-700 font-medium">Email</label><br>
            {{ form.email }}
        </div>
        <div>
            <label class="block mb-2 text-gray-700 font-medium">Email</label><br>
            {{ form.location }}
        </div>
        <div>
            <label class="block mb-2 text-gray-700 font-medium">Email</label><br>
            {{ form.gender }}
        </div>
        <div>
            <label class="block mb-2 text-gray-700 font-medium">Your Address</label><br>
            {{ form.address }}
        </div>
        <div>
            <label class="block mb-2 text-gray-700 font-medium">Password</label><br>
            {{ form.password1 }}
        </div>
        <div>
            <label class="iblock mb-2 text-gray-700 font-medium">Repeat Password</label><br>
            {{ form.password2 }}
        </div>
        {% if form.errors or form.none_field_errors%}
            <div class="p-4 bg-red-50 border border-red-200 text-red-700 rounded-lg shadow-sm">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="w-full py-3 px-6 text-lg bg-teal-500 hover:bg-teal-600 rounded-lg font-medium text-white transition">Submit</button>
    </form>
</div>
{% endblock %}