{% extends 'menu/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-4">
        <div class="col-span-1 py-6 px-3 bg-gray-800 text-black font-bold">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-7 border rounded-xl" type="text" value="{{ query }}" placeholder="find your meal....">        

                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            </form>

            <hr class="my-6">

            <h2 class="font-bold">Categories</h2>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl {% if category.id == category_id %}bg-gray-800{% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.food }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-span-3 bg-gray-300">
            <div class="grid grid-cols-3 gap-10">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div>

                            <div class="p-6 bg-gray-500 hover:text-white font-bold rounded-b-xl">
                                <h2 class="text-3xl">{{ item.name }}</h2>
                                <p class="text-white">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}